* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  color: #333;
  font-size: 115%;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: #fefefe;
}

p,
dl,
ol,
ul,
pre,
.btn,
table,
blockquote {
  margin: 0 0 1.5em;
}

ul {
  padding: 0 0 0 1.5em;
}

a,
.btn {
  text-decoration: none;
  -webkit-transition-property: color, background-color;
  -moz-transition-property: color, background-color;
  -ms-transition-property: color, background-color;
  -o-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -ms-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

a {
  color: #325b7f;
}

a:hover {
  color: #2C3740;
}

.btn {
  display: inline-block;
  padding: 0.3em 0.8em;
  color: #fff;
  background-color: #325b7f;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.btn:hover {
  color: #fff;
  background-color: #4B89BF;
}

.float_left {
  float: left;
}
.float_right {
  float: right;
}
img,
audio,
embed,
video,
object {
  height: auto;
  max-width: 100%;
}

img,
audio,
video,
canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

mark {
  padding: 2px;
  background-color: #fdffb6;
}

blockquote {
  padding-left: 1em;
  font-size: 1.5em;
  border-left: 4px solid #325b7f;
}

hr {
  display: block;
  margin: 1.5em 0;
  border-top: 1px dashed #aaa;
  border-bottom: 1px dashed #fff;
}

pre,
code {
  font-family: "Source Code Pro", monospace;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  color: #111;
  border: 1px solid #ccc;
  font-size: 0.9em;
  border-radius: 3px;
  background-color: #fafafa;
}

pre {
  padding: 0.6em 0.8em;
  overflow-x: auto;
  line-height: 1.3;
  white-space: pre;
}

code {
  display: inline;
  padding: 0 0.3em;
  max-width: 100%;
  vertical-align: middle;
  overflow-x: auto;
  border-color: #ccc;
}

pre > code {
  border: none;
  padding: 0;
  font-size: 100%;
  background-color: transparent;
}

pre .title,
pre .comment {
  color: #8e908c;
}

pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #c82829;
}

pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f5871f;
}

pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #eab700;
}

pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #718c00;
}

pre .css .hexcolor {
  color: #3e999f;
}

pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #4271ae;
}

pre .keyword,
pre .javascript .function {
  color: #8959a8;
}

table {
  display: block;
  max-width: 100%;
  overflow-x: auto;
  text-align: left;
  border-collapse: collapse;
}

table th,
table td {
  padding: 0.55em 1.1em 0.4em;
  border: 1px solid #ccc;
}

table tr + tr th,
table tr + tr td {
  border-top-width: 0;
}

table th + th,
table td + td {
  border-left-width: 0;
}

table th {
  color: #777;
  padding-top: 0.65em;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #dadada;
}

table tr:hover td {
  background: #fafafa;
}

.container {
  margin: 0 auto;
  max-width: 35.4em;
}

.back-to-home {
  display: block;
  width: 2em;
  height: 2em;
  margin: 0 auto;
  color: #000;
  text-align: center;
  line-height: 2;
  border: 1px solid #bbb;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
}

.back-to-home:hover {
  color: #325b7f;
}

.home.back-to-home {
  margin-top: 1.5em;
}
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

/* Masthead */
#mastwrap {
  line-height: 1;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  background: #f3f3f3;
  width: 100%;
}
#masthead {
  margin: 0 auto;
  color: #57626b;
  width: 35.4em;
}
#masthead .henry {
  float: left;
  display: block;
  width: 80px;
  height: 80px;
  margin: 0.5em 0 0 0.5em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background: url(../img/henry-sq-80.jpg) no-repeat 0 0;
}
#masthead hgroup {
  margin: 0.5em auto 0.5em;
  line-height: 1.4;
}
#masthead hgroup h1 {
  font-weight: bold;
  line-height: 1;
  margin: 0;
  font-size: 1.75em;
}
#masthead hgroup h2 {
  font-weight: 500;
  color: #999;
  font-size: 1em;
  margin: .45em 0 0 0;
}

/* main nav */
#site {
  font-family: Helvetica, Arial, Univers, Calibri, sans-serif;
  font-size: 110%;
  font-weight: 400;
  line-height: 1.65;
  text-align: left;
  text-rendering: optimizeLegibility;
  min-height: 500px;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}
#site.sep {
}
#cover-wrap {
  width: 100%;
  line-height: 1;
  padding: 13px 13px 0 0;
}
#postex {
  width: 100%
}
#postex article, #postex section {
  margin: 0 auto;
  max-width: 35.4em;
}
#nav {
  text-align: center;
  margin: 0 auto 0 auto;
}
#nav ul {
  list-style-type: none;
  list-style-position: outside;
  list-style-image: none;
}
#nav li {
  margin-left: 0px !important;
  list-style-type: none !important;
  margin-right: 25px;
  display: inline-block;
}
#nav li a, #nav li a:visited {
  text-shadow: 0 1px 0 rgba(255,255,255,0.7);
  color: #a3a9b8;
  font-size: 1.05em;
  font-weight: 500;
}
#nav li a:hover {
  color: #8f95a8;
}
#nav li .about i, #nav li .posts i, #nav li .maps i, #nav li .photos i {
  background-image: url("../img/nav-sprite.png");
  background-repeat: no-repeat;
  opacity: 0.8;
  display: inline-block;
}
#nav li a:hover i {
  opacity: 1;
}
#nav li .about i {
  width: 24px;
  height: 22px;
  background-position: -100px 0;
  margin-right: 7px;
  margin-bottom: -4px;
}
#nav li .posts i {
  width: 24px;
  height: 26px;
  background-position: -150px 0;
  margin-right: 7px;
  margin-bottom: -4px;
}
#nav li .photos i {
  width: 28px;
  height: 21px;
  background-position: -200px 0;
  margin-right: 7px;
  margin-bottom: -3px;
}
#nav li .maps i {
  width: 29px;
  height: 24px;
  background-position: -254px 0;
  margin-bottom: -5px;
}

/* Individual Photo Nav */
body#photocontent #postex nav .home {
  background-image: url("../img/nav-sprite.png");
  background-repeat: no-repeat;
  opacity: 0.65;
  display: inline-block;
  -webkit-transition: opacity,0.15s;
  -moz-transition: opacity,0.15s;
  -ms-transition: opacity,0.15s;
  -o-transition: opacity,0.15s;
  transition: opacity,0.15s;
  width: 24px;
  height: 24px;
  background-position: 0 0;
  margin-right: 10px;
}
body#photocontent #postex nav .home:hover {
  opacity: 1;
}
body#photocontent #postex nav .photos {
  width: 28px;
  height: 21px;
  background-image: url("../img/nav-sprite.png");
  background-repeat: no-repeat;
  background-position: -200px 0;
  margin: 0 7px -10px 0;
  opacity: 0.5;
  -webkit-transition: opacity,0.15s;
  -moz-transition: opacity,0.15s;
  -ms-transition: opacity,0.15s;
  -o-transition: opacity,0.15s;
  transition: opacity,0.15s;
  display: inline-block;
}
body#photocontent #postex nav .photos:hover {
  opacity: 1;
}
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

body#photocontent #postex nav .arr {
  opacity: 0.8;
  cursor: pointer;
  padding: 0 5px;
  margin-right: 6px;
  margin-bottom: 6px;
  display: inline-block;
  font-weight: 500;
  font-size: 2.65em;
  line-height: 0;
  color: #a6adbd;
  -webkit-transition: opacity,0.1s;
  -moz-transition: opacity,0.1s;
  -ms-transition: opacity,0.1s;
  -o-transition: opacity,0.1s;
  transition: opacity,0.1s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body#photocontent #postex nav .arr:hover {
  opacity: 1;
}

/* Content photography */
figure.photo {
  -webkit-box-shadow: 0 0 4px rgba(48,47,39,0.3);
  -moz-box-shadow: 0 0 4px rgba(48,47,39,0.3);
  box-shadow: 0 0 4px rgba(48,47,39,0.3);
}
figure.photo a {
  border: 0.1em solid rgba(48,47,39,0.05);
  position: relative;
  width: 100%;
}
figure.photo a:hover,
figure.photo a:focus {
  border-color: #e03e36;
}
figure.photo a:hover figcaption,
figure.photo a:focus figcaption {
  display: block;
}
figure.photo a:active {
  border-color: #d92a21;
}
figure.photo a figcaption {
  background: #e03e36;
  color: #fff;
  padding: 0.2em 7%;
  position: absolute;
  bottom: 0em;
  display: none;
}
figure a {
  display: block;
  padding: 0;
}
article.photography figure.photo {
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 5%;
  overflow: hidden;
}
article.photo figure.photo {
  width: 100%;
  max-width: 900px;
  margin-bottom: 5em;
}

/* Photo List */
.photo-thumbs-list {
    width: 900px;
    margin: 0 auto;
    padding: 0;
}
.photo-thumbs-list li {
  float: left;
  margin: 0 !important;
  line-height: 0;
  width: 33.3333%;
  position: relative;
}
figure {
  text-align: center;
}
figure.in-photo-list {
  margin: 0;
}
figure img {
  width: 100%;
  max-width: 1000px;
  height: auto !important;
  -ms-interpolation-mode: bicubic
}
.photo-thumbs-list li img {
  width: 100%;
  height: auto !important;
  -webkit-transition: opacity, 0.15s;
  -moz-transition: opacity,0.15s;
  -ms-transition: opacity,0.15s;
  -o-transition: opacity,0.15s;
  transition: opacity,0.15s;
}
.photo-thumbs-list li img:hover {
  opacity: 1;
}
.photo-thumbs-list li a:hover figcaption {
  opacity: 1;
}
a img {
  border: 0;
}
figure figcaption {
  font-size: 0.85em;
}
.photo-thumbs-list figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2em 0.5em 0.5em;
  text-align: left;
  text-shadow: 0 1px 0 #000;
  font-size: 1.1em !important;
  font-weight: 700;
  text-overflow: ellipsis;
  color: #fff !important;
  overflow: hidden;
  white-space: pre;
  line-height: 1.2;
  opacity: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
  -webkit-transition: opacity,0.1s;
  transition: opacity,0.1s;
}
/* Projects */
.project-thumbs-list {
  width: 900px;
  margin: 0 auto;
  padding: 0;
}
.project-thumbs-list li {
  float: left;
  margin: 0 !important;
  line-height: 0;
  width: 33.3333%;
  position: relative;
}

/* Individual Photo */

body#photocontent #postex figure.feature-image {
  margin-top: 1em;
  margin-bottom: 1em;
  position: relative;
  text-align: center;
  line-height: 0;
}

body#photocontent #postex figure.feature-image img {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  width: 100%;
  max-width: 1000px;
  height: auto !important;
  -ms-interpolation-mode: bicubic;
}

.header-title,
.content-title {
  margin: 0;
  color: #192D3F;
}

#photo_blog .header-title {
  margin: 0 auto;
  line-height: 1;
}

#photo_blog h1 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 8px;
}


.header-title {
  color: #192D3F;
}

.header-title a {
  color: inherit;
}

.header-metadata {
  color: #192D3F;
}

.header {
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 0;
  text-align: center;
}

.article .header {
  text-align: left;
}

.content-header {
  padding-top: 1em;
  padding-bottom: 1em;
}

.navigation,
#disqus_thread {
  margin-bottom: 3em;
}
.content-article {
  margin-bottom: 0;
}
.navigation .btn {
  margin-bottom: 0;
}

.navigation-prev {
  float: left;
}

.navigation-next {
  float: right;
}

#footer {
  border-top: 1px solid #e8ebf2;
  box-shadow: inset 0 1px 0 #fff;
  -webkit-box-shadow: inset 0 1px 0 #fff;
  -moz-box-shadow: inset 0 1px 0 #fff;
  -khtml-box-shadow: inset 0 1px 0 #fff;
  -o-box-shadow: inset 0 1px 0 #fff;
  background: #f3f3f3;
  padding: 15px 30px;
  text-align: center;
  position: relative;
}

.footer .back-to-home {
  position: absolute;
  top: -1em;
  left: 50%;
  margin-left: -1em;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.no-js #disqus_thread {
  display: none;
}
.list-none li {
  list-style-type: none !important;
}


/* If you like cutting down trees */
@media print {
  html {
    border: none;
  }

  p,
  dl,
  ol,
  ul,
  pre,
  img,
  .btn,
  table,
  blockquote {
    margin-bottom: 0.75em;
  }

  .back-to-home {
    display: none;
  }

  .container {
    padding-left: 1em;
    padding-right: 1em;
  }

  .header {
    padding-top: 0;
  }

  .footer {
    padding-top: 1em;
    padding-bottom: 0;
  }

  #disqus_thread {
    display: none;
  }
}

/* Responsive Elements */
@media only screen and (max-width: 30em) {
  #masthead {
    text-align: left;
  }
  #masthead .henry {
    float: left;
    margin: 0.5em 0.6em 0.5em 1em;
    width: 48px !important;
    height: 48px !important;
    background-size: 48px 48px;
    -moz-background-size: 48px 48px;
    -webkit-background-size: 48px 48px;
    -khtml-background-size: 48px 48px;
    -o-background-size: 48px 48px;
    -ms-background-size: 48px 48px;
  }
  #masthead hgroup {
    margin: 0.55em 0 0 0 !important;
    float: left;
  }
  #masthead h1 {
    font-size: 1.5em !important;
    margin: 0 !important;
  }
  #masthead hgroup h2 {
    font-size: 0.95em;
  }
  #masthead h2 {
    display: none;
  }
  #masthead {
    text-align: center;
    width: 100%;
  }
  #nav ul li a span {
    display: none;
  }
}
@media only screen and (min-width: 40.001em) {
  #masthead hgroup {
  float: right;
  width: 30em;
  }

}
@media (min-width: 365px) {
  article.photography figure.photo {
    width: 48%;
    margin-right: 2%;
    float: left;
  }
}
@media (min-width: 720px) {
  article.photography figure.photo {
    width: 30%;
  }
  article.photography figure.photo:nth-child(3n+1),
  article.photography figure.photo:nth-child(3n+2) {
    margin-right: 3%;
  }
}

