div#mastwrap
  header#masthead.clearfix
    block header
      a(href="/", class='henry', title='Henry Boston')
      hgroup.intro
        a(href="/", title='Henry Boston')
          h1 Henry Boston
        h2
          span Student and Web Developer @ UNT
          br
          span Bikes, BBQ, Web Maps & JavaScript
div#cover-wrap.clearfix
  block nav
    nav#nav
      ul
        li
          a(href='/about.html', title='About', class='about')
            i
            span About
        li
          a(href='/', title='Posts', class='posts')
            i
            span Posts
        li
          a(href='/photography/', title='Photos', class='photos')
            i
            span Photos
        li
          a(href='', title='Projects', class='maps')
            i
            span Projects
