extends layout

block content
        div#project
          article.content.photo
            h1 #{page.title}
            figure.feature-image
              img(src='photo.jpg', alt='#{page.title}')
            .clear
            section.content!= page.html 
